body { 
    /* background-color: rgb(216, 236, 244); */
    /* margin: 40px; */
    
    font-family: Arial, Helvetica, sans-serif ;
    font-size: medium;
 
}

.subnav {
  background-color:#00000070;
  /* color: black; */
  font-family: Arial;
  overflow: hidden;
  margin-top: 125px;
}
  .subnav a{
    
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    min-width: 80px;
  }
  .subnav a:hover{
    color: black !important;
  }
  .back-arrow{
    height: 25px;
    padding-top: 6px;
  }