#home {
  margin-top: 5rem;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 83vh;
  width: 100%;
  top: 0;
  z-index: -1;
}

#welcome-message {
  z-index: 5;
}

.secondary-menu-container {
  display: flex;
  /* justify-content: space-between; */
  /* margin-top: 5rem; */
  justify-content: center;
}

.menu-box1 {
  border: 1px solid rgb(214, 210, 210);
  border-radius: 5px;
  padding: 3rem;
  margin: 9rem 3rem;
  height: 125px;
  width: 125px;
}
.menu-box1 p {
  font-size: x-small;
  color: black;
  text-align: center;
  align-self: center;
}

.menu-box1:hover {
  cursor: pointer;
  box-shadow: 0 0em 3em rgb(214, 210, 210), 0 0 2px rgb(214, 210, 210),
    0.3em 0.3em 1em rgb(214, 210, 210);
}

.hotel-brief {
  background-color: rgb(241, 241, 241);
  width: 60%;
  margin: auto;
  padding: 12rem;
  margin-bottom: 5rem;
}

.hotel-brief h2 {
  text-align: center;
}
.hotel-brief p {
  font-size: small;
  text-align: center;
}

/* FOR THE SLIDE IMG CARDS */
.slide-card img {
  height: 250px;
  width: 350px;
  transition: transform .2s; /* Animation */
}

.slide-card img:hover { 
  transform: scale(1.5);
}


.room-slide {
  display: flex;
  margin: 9rem 0;
  justify-content: space-evenly;
  gap: 30px;
  overflow-x: scroll;
}
.room-slide::-webkit-scrollbar {
  display: none;
}

.slide-card {
  border: 1px solid rgb(214, 210, 210);
}
.slide-card h3 {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 4rem 0;
  line-height: 30px;
}

.slide-card p {
  text-align: center;
  font-size: small;
  width: 85%;
  margin: auto;
  margin-top: -2rem;
}

.button-section {
  width: 60%;
  margin: auto;
}

/* For the services section */
.healthclubImg {
  grid-area: A;
}
.healthclub-brief {
  grid-area: B;
padding: 3rem;
}

.spa-brief {
  grid-area: C;
  padding: 3rem;
}
.spaImg {
  grid-area: D;
}

.services-gridContainer {
  display: grid;
  grid-template-areas: 'A B'
                      'C D' ;
  gap: 3rem;
  width: 85%;
  margin: auto;
  margin-top: 5rem;
  
  
}
.services-gridContainer img {
  width: 100%;
  height: 100%;
}
.services h2 {
  text-align: center;
}
.services > p {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: small;
  font-weight: bold;
  /* color: black; */
  margin-top: -1rem;
}

.services {
  padding-bottom: 9rem;
  padding-top: 4rem;
  background-color: rgb(245, 245, 245);
}

.services-gridContainer p {
  font-size: medium;
}
.services-gridContainer h4 {
  margin-top: 6rem;
}

.learnMore {
  font-size: small;
  font-weight: bold;
}

